

header
{
    width: 100%;
    background-color: rgb(69, 81, 81);
}
body
{
    background-color: #000;
    color: #fff;
}

.logo
{
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

nav
{
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

h1,h2
{
    text-align: center;
    padding-top: 2%;
}

p{
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}
.darkroom__vermelho
{
    color: red;
}

.banner
{
    width: 100%;
}

.container
{
    background-color: rgb(69, 81, 81);
    width: 80%;
    margin: auto;
}

footer
{
    background-color:rgb(69, 81, 81);
    color: 1.3em;
    text-align: center;
}

.biografia__imagem
{
    text-align: center;
    background-color: #000;
}
